<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <div id="menu">
            <nav class="">
                <ul>
                    <li class="item">
                        <a href="index.html">Home</a>
                        <div class="sublinhado"></div>
                    </li>
                    <li class="item">
                        <a href="contact.html">Contato</a>
                        <div class="sublinhado"></div>
                    </li>
                    <li class="item">
                        <a href="#">Sobre nós</a>
                        <div class="sublinhado"></div>
                    </li>
                    <li class="item">
                        <a href="#">Suporte</a>
                        <div class="sublinhado"></div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</body>

</html>